<ion-content [fullscreen]="true">
  <div *ngIf="loading" class="loading">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
  </div>
  <div *ngIf="!loading">
    <div class="flex">
      <div>
        <img src="assets/icon/clout.png" class="logo" alt="logo" />
      </div>
    </div>
    <div *ngIf="state == 'initial'">
      <ion-row>
        <ion-label class="ion-padding lab" style="text-align: center">
          Introduce los datos para recuperar la contraseña
        </ion-label>
      </ion-row>
      <ion-item>
        <ion-input
          label="Email"
          labelPlacement="floating"
          [(ngModel)]="email"
          type="text"
          (keyup.enter)="forgetPassword()"
        ></ion-input>
      </ion-item>
      <div class="flex">
        <div class="bot">
          <ion-button
            class="login"
            fill="solid"
            id="login"
            [disabled]="!sendEmailValid()"
            (click)="forgetPassword()"
          >
            Introducir email
          </ion-button>
        </div>
      </div>
    </div>

    <div *ngIf="state == 'code'">
      <ion-row>
        <ion-label class="ion-padding lab" style="text-align: center">
          Se ha enviado un correo a tu dirección de email, introduce el códgio
        </ion-label>
      </ion-row>

      <ion-row style="justify-content: center">
        <input
          class="code-input"
          type="number"
          [(ngModel)]="code1"
          (input)="validateSingleDigit($event)"
        />
        <input
          class="code-input"
          type="number"
          [(ngModel)]="code2"
          (input)="validateSingleDigit($event)"
        />
        <input
          class="code-input"
          type="number"
          [(ngModel)]="code3"
          (input)="validateSingleDigit($event)"
        />
        <input
          class="code-input"
          type="number"
          [(ngModel)]="code4"
          (input)="validateSingleDigit($event)"
        />
      </ion-row>

      <div class="flex">
        <div class="bot">
          <ion-button
            class="login"
            fill="solid"
            id="login"
            [disabled]="!sendCodeValid()"
            (click)="sendCode()"
          >
            Introducir código
          </ion-button>
        </div>
      </div>
    </div>

    <div *ngIf="state == 'final'">
      <ion-row>
        <ion-label class="ion-padding lab" style="text-align: center">
          Introduce la nueva contraseña (Mínimo 6 caracteres)
        </ion-label>
      </ion-row>

      <div>
        <ion-item>
          <ion-input
            label="Contraseña"
            labelPlacement="floating"
            [(ngModel)]="password"
            type="text"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            label="Repetir contraseña"
            labelPlacement="floating"
            [(ngModel)]="confirmPassword"
            type="text"
          ></ion-input>
        </ion-item>
      </div>

      <div class="flex">
        <div class="bot">
          <ion-button
            class="login"
            fill="solid"
            id="login"
            [disabled]="!passwordValid()"
            (click)="resetPassword()"
          >
            Introducir contraseña
          </ion-button>
        </div>
      </div>
    </div>
  </div>

  <div>
    <ion-row style="justify-content: center; margin-top: 10px">
      <ion-button
        class="register"
        fill="outline"
        (click)="goTo('login')"
        style="width: 200px"
        >Volver</ion-button
      >
    </ion-row>
  </div>
</ion-content>
