<ion-content>
  <ion-grid>
    <ion-row>
      <ion-searchbar
        [debounce]="500"
        placeholder="BUSCAR USUARIOS"
        (ionInput)="searchUser($event)"
      ></ion-searchbar>
    </ion-row>

    <ion-col>
      <div *ngIf="currentEvents.length" class="event">
        <div *ngFor="let user of currentEvents" class="user-container">
          <div
            class="user-media"
            (click)="goToOtherUserProfile( user.username )"
          >
            <img
              src="{{ user.profile.avatar }}"
              onerror="this.src = 'https://images.hola.com/imagenes/mascotas/20210217184541/gatos-gestos-lenguaje-significado/0-922-380/gatos-gestos-m.jpg?tx=w_680'"
            />
            <span class="username">@{{ user.username }}</span>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-grid>
</ion-content>
