<ion-header [translucent]="true">
  <ion-toolbar id="close-placeholder">
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon
          src="../../../assets/icons/ic-close.svg"
          id="close-icon"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!loading;else loadingTemplate" id="opacity">
    <ion-grid *ngIf="post; else noPost">
      <ion-col>
        <ion-row (click)="goToProfile()">
          <img
            src="{{post.user.avatar}}"
            alt="Avatar"
            onerror="this.src = 'https://images.hola.com/imagenes/mascotas/20210217184541/gatos-gestos-lenguaje-significado/0-922-380/gatos-gestos-m.jpg?tx=w_680'"
            class="user-avatar"
          />
          <h2 class="user-name">@{{post.user.username}}</h2>
        </ion-row>
        <ion-row>
          <div class="post-wrapper">
            <img
              src="{{post.image}}"
              class="post-image"
              onerror="this.src = 'https://images.hola.com/imagenes/mascotas/20210217184541/gatos-gestos-lenguaje-significado/0-922-380/gatos-gestos-m.jpg?tx=w_680'"
            />
          </div>
        </ion-row>
        <!-- <img src="{{post.image}}" class="post-image" /> -->
        <ion-row class="info">
          <div class="flex-end">
            <ion-icon
              *ngIf="!isLiked"
              src="../../../assets/icons/ic-heart-filled.svg"
              id="heart-icon"
              (click)="toggleLike()"
            ></ion-icon>
            <ion-icon
              *ngIf="isLiked"
              src="../../../assets/icons/ic-heart-empty.svg"
              id="heart-icon"
              (click)="toggleLike()"
            ></ion-icon>
            <ion-icon
              src="../../../assets/icons/ic-comments.svg"
              id="comment-icon"
              (click)="toggleComments()"
            ></ion-icon>
            <ion-icon
              src="../../../assets/icons/ic-share3.svg"
              name="share-social-outline"
              id="share-icon"
              (click)="copyUrlToPost()"
            ></ion-icon>
          </div>
        </ion-row>
        <ion-row *ngIf="!pressedComment">
          <div class="info-desc">
            <p class="biografia">{{post.text}}</p>
          </div>
        </ion-row>
      </ion-col>
    </ion-grid>
    <ng-template #noPost>
      <div class="center-spinner ion-padding">
        <span>No se ha podido obtener ningun post con esa id</span>
      </div>
    </ng-template>
  </div>
  <ng-template #loadingTemplate>
    <div class="center-spinner">
      <span>Cargando post</span>
      <ion-spinner></ion-spinner>
    </div>
  </ng-template>

  <ion-grid *ngIf="pressedComment" class="mobile">
    <div class="mobile-container">
      <div
        class="mobile-close"
        (click)="toggleComments()"
        style="cursor: pointer"
      >
        <ion-icon src="../../../assets/icons/ic-close.svg" id="close-icon">
        </ion-icon>
      </div>
      <div class="mobile-sound"></div>
      <div class="mobile-chat">
        <ion-content [scrollEvents]="true" class="chat-content">
          <ion-list>
            <ion-item *ngFor="let comment of comments" class="comentario">
              <ion-row>
                <img
                  src="{{comment.avatar}}"
                  class="user-avatar-comment"
                  onerror="this.src = 'https://images.hola.com/imagenes/mascotas/20210217184541/gatos-gestos-lenguaje-significado/0-922-380/gatos-gestos-m.jpg?tx=w_680'"
                />
                <ion-col>
                  <p>@{{comment.username}}</p>
                  <p>{{comment.text}}</p>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-list>
        </ion-content>
        <ion-row class="comment-input" style="padding: 10px">
          <div class="input-comment-holder">
            <input
              type="text"
              placeholder="Escribe un comentario"
              class="input-comment"
              maxlength="255"
              minlength="1"
              [(ngModel)]="commentText"
            />
          </div>
          <div class="send-holder" (click)="createComment()">
            <button
              [disabled]="commentText === ''"
              [ngClass]="{
              'send-comment': commentText !== '',
              'send-comment-disabled': commentText === ''}"
            >
              Enviar
            </button>
          </div>
        </ion-row>
      </div>
    </div>
  </ion-grid>
</ion-content>
