<ion-header [translucent]="true">
  <ion-toolbar id="close-placeholder">
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon
          src="../../../assets/icons/ic-close.svg"
          id="close-icon"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!loading;else loadingTemplate">
    <div *ngIf="posts; else noPost">
      <h3>Mis outfits</h3>
      <ion-grid>
        <div class="post-container">
          <div *ngFor="let post of posts" class="post-wrapper">
            <img
              [src]="post.image"
              alt="Avatar"
              (click)="goToOutfit(post.id)"
              onerror="this.src = 'https://images.hola.com/imagenes/mascotas/20210217184541/gatos-gestos-lenguaje-significado/0-922-380/gatos-gestos-m.jpg?tx=w_680'"
              class="post-image"
            />
            <ion-button class="edit-btn" (click)="editPost(post)"
              >Editar publicación</ion-button
            >
            <ion-button class="delete-btn" (click)="deletePost(post.id)"
              >Borrar publicación</ion-button
            >
          </div>
        </div></ion-grid
      >
    </div>
    <ng-template #noPost>
      <div class="center-spinner ion-padding">
        <span>Aún no ha subido ninguna publicación</span>
      </div>
    </ng-template>
  </div>
  <ng-template #loadingTemplate>
    <div class="center-spinner">
      <span>Cargando post</span>
      <ion-spinner></ion-spinner>
    </div>
  </ng-template>
</ion-content>
